<launch>
	<!-- launch file for differential_drive package -->

	<rosparam param="ticks_meter">734</rosparam>

	<node pkg="smart_carts_v3" type="diff_tf.py" name="diff_tf" output="screen">
		<param name="rate" value="10"/>
		<param name="base_width" value="0.625"/>
		<param name="base_frame_id" value="base_link"/>
		<param name="odom_frame_id" value="odom"/>
		<param name="encoder_min" value="-32768"/>
		<param name="encoder_max" value="32767"/>
		<!-- <param name="ticks_meter" value="734"/> -->
	</node>

	<node pkg="smart_carts_v3" type="twist_to_motors.py" name="twist_to_motors" output="screen">
		
		<param name="base_width" value="0.625"/>
		<param name="rate" value="10"/>
		<param name="timeout_ticks" value="5"/>

  		<remap from="twist" to="cmd_vel"/>
	</node>

	<!-- LEFT WHEEL -->
	<node pkg="smart_carts_v3" type="pid_velocity.py" name="lpid_velocity" output="screen">
     	<!--lwheel osciallation start to occur at about Kp=185, Ki=0, Kd=0 so use Kp=185/2=92.5-->
     	<param name="Kp" value="100"/>
     	<!--next, lwheel osciallation start to occur at about Kp=92.5, Ki=2200, Kd=0 so use Ki=2200/2=1100-->
		<param name="Ki" value="75"/>
		<param name="Kd" value="0.0005"/>

		<param name="out_min" value="-255"/>
		<param name="out_max" value="255"/>
		<param name="rate" value="10"/>
		<!-- <param name="ticks_meter" value="734"/> -->
		<param name="encoder_min" value="-32768"/>
		<param name="encoder_max" value="32767"/>

		<param name="rolling_pts" value="2"/>
		<param name="timeout_ticks" value="5"/>
		<param name="vel_threshold" value="0.001"/>

  		<remap from="motor_cmd" to="lmotor"/>
  		<remap from="wheel_vel" to="lwheel_vel"/>
  		<remap from="wheel" to="lwheel"/>
  		<remap from="wheel_vtarget" to="lwheel_vtarget"/>
	</node>

	<!-- RIGHT WHEEL -->
	<node pkg="smart_carts_v3" type="pid_velocity.py" name="rpid_velocity" output="screen">
		<!--rwheel osciallation start to occur at about Kp=185, Ki=0, Kd=0 so use Kp=185/2=92.5-->
		<param name="Kp" value="100"/>
		<!--next, lwheel osciallation start to occur at about Kp=92.5, Ki=2200, Kd=0 so use Ki=2200/2=1100-->
		<param name="Ki" value="75"/>
		<param name="Kd" value="0.0005"/>

		<param name="out_min" value="-255"/>
		<param name="out_max" value="255"/>
		<param name="rate" value="10"/>
		<!-- <param name="ticks_meter" value="734"/> -->
		<param name="encoder_min" value="-32768"/>
		<param name="encoder_max" value="32767"/>

		<param name="rolling_pts" value="2"/>
		<param name="timeout_ticks" value="5"/>
		<param name="vel_threshold" value="0.001"/>

  		<remap from="motor_cmd" to="rmotor"/>
  		<remap from="wheel_vel" to="rwheel_vel"/>
  		<remap from="wheel" to="rwheel"/>
  		<remap from="wheel_vtarget" to="rwheel_vtarget"/>
	</node>
</launch>
